@{ Layout = "_LayoutLogin"; }

<div id="login" v-cloak>
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img src="~/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>

                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Login</h4>
                        </div>

                        <div class="card-body">
                            <form class="needs-validation" novalidate="" v-on:submit.prevent="submit"
                                autocomplete="off">
                                <div class="form-group">
                                    <label for="username">{{$lang.label_username}}</label>
                                    <input id="username" type="text" class="form-control" name="username"
                                        v-model="form.username" tabindex="1" required autofocus
                                        v-on:blur="formTriggered = true"
                                        v-bind:class="{'is-invalid': !$v.form.username.required && formTriggered}">
                                    <div class="invalid-feedback" v-if="!$v.form.username.required">
                                        {{$lang.form_required}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">Password</label>
                                        <div class="float-right">
                                            <a href="auth-forgot-password.html" class="text-small">
                                                Forgot Password?
                                            </a>
                                        </div>
                                    </div>
                                    <input id="password" type="password" class="form-control" name="password"
                                        v-model="form.password" tabindex="2" required
                                        v-bind:class="{'is-invalid': !$v.form.password.required && formTriggered}">
                                    <div class="invalid-feedback" v-if="!$v.form.password.required">
                                        {{$lang.form_required}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3"
                                            id="remember-me">
                                        <label class="custom-control-label" for="remember-me">Remember Me</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mt-5 text-muted text-center">
                        Don't have an account? <a href="auth-register.html">Create One</a>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Stisla 2018
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/js/apps/auth/login.js"></script>